<extend name="Base:base" />
<block name="title">用户登录</block>
<block name="body">
	<body id="login">
		<a href="https://open.weixin.qq.com/connect/oauth2/authorize?appid=wxd9de01ff7624c688&redirect_uri=http://read.wzj.dev.shuxier.com/index.php/Home/Index/index&response_type=code&scope=snsapi_userinfo&state=STATE#wechat_redirect"></a>
		
		<!---------
		
		https://open.weixin.qq.com/connect/oauth2/authorize?appid='.APPID.'&redirect_uri=http://'.$_SERVER['HTTP_HOST'].'/index.php/Home/Index/index&response_type=code&scope=snsapi_userinfo&state=STATE#wechat_redirect
		----------->
	</body>
</block>
