<extend name="Base:base" />
<block name="title">个人中心</block>
<block name="body">
	<body>
		<header class="me_head">
			<a href="__CONTROLLER__/personalinformation">
				<em class="me_set"></em>
				<div class="me_main">
					<div class="me_tou">
					<if condition="$data['avatar_file'] eq NULL">
					<img src="__PUBLIC__/Index/images/me_bg3.png" alt=""/>
					<else/>
					<img src="{$data.avatar_file}" alt=""/>
					</if>
					
					</div>
					<h5 class="color_black">{$data.nick_name}</h5>
					<p class="color_black">
					<if condition="$data['sex'] eq '男'">
					<img src="__PUBLIC__/Index/images/me_nan.png"/>
					<else/>
					<img src="__PUBLIC__/Index/images/me_nv.png"/>
					</if>
					{$data.sex}</p>
				</div>
				<ul class="color_white">
					<foreach item="hobby" name="data['hobby']">
					<li id="me_li{$key+1}">{$hobby.hobby_name}</li>
					</foreach>
				</ul>
			</a>
		</header>
		<article class="me_art">
			<a href="__CONTROLLER__/feedback"><em class="me_art_em1"></em>意见反馈</a>
			<span class="span1"></span>
			<a href="#"><em class="me_art_em2"></em>上传书籍</a>
			<span class="span2"></span>
		</article>
		<footer class="">
			<div class="novel_foot me_foot">
				<a href="#" id="novel_out">退出登录</a>
			</div>
			<!--底部导航栏-->
        		<ul class="novel_btn">
        			<li class="novel_btn1"><a href="__MODULE__/Index/index" class="color_hui"><em class="novel_btn_false"></em>首页</a></li>
        			<li class="novel_btn2"><a href="{:U('Book/library')}" class="color_hui"><em class="novel_btn_false"></em>书城</a></li>
        			<li class="novel_btn3"><a href="{:U('BeautifulWords/beautifulwords')}" class="color_hui"><em class="novel_btn_false"></em>美文</a></li>
        			<li class="novel_btn4"><a href="{:U('Book/bookshelf')}" class="color_hui"><em class="novel_btn_false"></em>书架</a></li>
        			<li class="novel_btn5"><a href="__MODULE__/User/me" class="color_zhu"><em class="novel_btn_true"></em>我</a></li>
        		</ul>
		</footer>
	</body>
	<!-------
	https://open.weixin.qq.com/connect/oauth2/authorize?appid=wxa2b618fb1705e8bb&redirect_uri=http://read.wzj.dev.shuxier.com/index.php/Home/User/userinfo&response_type=code&scope=snsapi_userinfo&state=STATE#wechat_redirect
	
	
	----------->
</block>