<!DOCTYPE html>
<html lang="zh_ch">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="renderer" content="webkit">
    <meta http-equiv="Cache-Control" content="no-siteapp">

    <!--[if lt IE 9]><meta http-equiv="refresh" content="0;ie.html" /><![endif]-->

    <title>
        <block name="title"></block>
    </title>
    <!--公用静态文件-->
    <link rel="shortcut icon" href="favicon.ico">
    <block name="bootstrap"><link href="{:C('CSS')}bootstrap.min.css" rel="stylesheet"></block>
    <block name="fonts"><link href="{:C('CSS')}font-awesome.min.css" rel="stylesheet"></block>
    <block name="animate"><link href="{:C('CSS')}animate.min.css" rel="stylesheet"></block>
    <block name="style"><link href="{:C('CSS')}style.min.css" rel="stylesheet"></block>
    <block name="static"><!--引入静态文件--></block>
</head>
<block name="body">
    <body><!--内容主体--></body>
</block>
<block name="jquery"><script src="{:C('JS')}jquery.min.js"></script></block>
<block name="bootstrapJs"><script src="{:C('JS')}bootstrap.min.js"></script></block>
<block name="others">
    <!--其他加载的脚本-->
</block>
</html>