<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title><block name="title"></block></title>
    <meta content="width=device-width, initial-scale=1, maximum-scale=1, minimum-scale=1, user-scalable=0" name="viewport" />
    <link rel="stylesheet" type="text/css" href="{:C('CSS')}common.css"/>
    <script src="{:C('JS')}common.js" type="text/javascript" charset="utf-8"></script>
    <script src="{:C('JS')}jquery.min.js" type="text/javascript" charset="utf-8"></script>
    <block name="static"><!--js,css等静态文件使用区--></block>
</head>
<block name="body">
    <body>

    </body>
</block>
<block name="others">
<!--其他操作-->
</block>
</html>
