<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title><block name="title"></block></title>
    <link rel="stylesheet" type="text/css" href="__PUBLIC__/Index/css/common.css"/>
    <script src="__PUBLIC__/Index/js/common.js" type="text/javascript" charset="utf-8"></script>
    <script src="__PUBLIC__/Index/js/jquery.min.js" type="text/javascript" charset="utf-8"></script>
    <block name="static"><!--js,css等静态文件使用区--></block>
</head>
<block name="body">
    <body>

    </body>
</block>
<block name="others">
<!--其他操作-->
</block>
</html>
