<extend name="Base:base"/>
<block name="title">图书断章</block>
<block name="static">
    <style>
        /**{
            padding: 0;
            margin: 0;
        }*/
    </style>
</block>
<block name="body">
    <body>
    <div class="wrapper wrapper-content animated fadeInRight">
        <div class="row">
            <div class="col-sm-12">
                <h5>正在获取图书内容并断章，请不要关闭页面！</h5>
                <div class="progress progress-striped">
                    <div style="width: 0%;" aria-valuemax="100" aria-valuemin="0" aria-valuenow="0" role="progressbar" id="progress" class="progress-bar progress-bar-warning">
                        断章中...<span id="show_progress">0%</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
    </body>
</block>
<block name="others">
    <script>
        function progress(progressData) {
            document.getElementById('progress').style.width = progressData+'%';
            document.getElementById('show_progress').innerText = progressData+'%';
        }
    </script>
</block>