<foreach item="be" name="list">
				
	<li id="{$be.id}">
		<!------
		<div class="beautiful" style="display:none">{$be.id}</div>
		<div class="editor" style="display:none">{$be.editor_way}</div>
		<div class="url" style="display:none">{$be.url}</div>
		-------->
			<div class="art_li_left"><img src="{$be.cover}" alt=""/></div>
			<div class="art_li_right">
				<p class="art_li_p1">{$be.author}<em class="color_hui">{$be.sent_time|date="Y.m.d",###}</em></p>
				<h4>{$be.title}</h4>
				<p class="art_li_p2 color_hui"><span class="art_li_p2_1"><em></em>{$be.see}</span><span class="art_li_p2_2"><em></em>{$be.listen}</span><span class="art_li_p2_3" be="{$be.id}"><em></em>{$be.praise}</span></p>
			</div>
	</li>
</foreach>