<extend name="Base:base"/>
<block name="title">banner列表</block>
<block name="static">
    <link href="{:C('PLUGINS_JS')}fancybox/jquery.fancybox.css" rel="stylesheet">
    <style>
        .table-hover>thead>tr>th>span{
            font-weight: normal;
        }
        .banner{
            width:150px;
        }
        .btn_location{
            text-align: center;
            padding: 0;
            margin:0;
        }
    </style>

</block>
<block name="body">
    <body class="gray-bg">
    <div class="wrapper wrapper-content animated fadeInRight">
        <div class="row">
            <div class="col-sm-12">
                <div class="ibox float-e-margins">
                    <div class="ibox-title">
                        <h5>banner列表</h5>
                    </div>
                    <div class="ibox-content">

                        <table class="table table-hover">
                            <thead>
                            <tr>
                                <th>banner图片<span>（点击可放大）</span></th>
                                <th>跳转到的书籍</th>
                                <th>操作</th>
                            </tr>
                            </thead>
                            <tbody>
                            <volist name="bannerList" id="vo">
                                <tr>
                                    <td>
                                        <a class="fancybox" href="{$vo.banner_file}" title="banner">
                                            <img src="{$vo.banner_file}" class="banner">
                                        </a>
                                    </td>
                                    <td>{$vo.book_name|default='暂无跳转'}</td>
                                    <td class="btn_location">
                                        <button class="btn btn-warning" type="button" onclick="delBtn('{$vo.id}',this)">删除</button>
                                        <button class="btn btn-success" type="button" onclick="up_down('{$vo.id}',this)">
                                            <eq name="vo['banner_state']" value="0">
                                                未上架
                                                <else/>
                                                已上架
                                            </eq>
                                        </button>
                                    </td>
                                </tr>
                            </volist>

                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
    </body>
</block>
<block name="others">
    <script src="{:C('PLUGINS_JS')}fancybox/jquery.fancybox.js"></script>
    <script>
        $(document).ready(function(){$(".fancybox").fancybox({openEffect:"none",closeEffect:"none"})});
        function delBtn(id, the) {
            if (confirm('确认删除吗？')) {
                $.post('__SELF__', {'id':id,'type':'del'}, function (string) {
                    if (string === 'SUCCESS') {
                        the.parentNode.parentNode.remove();
                    } else {
                        alert('操作失败');
                    }
                });
            }
        }
        function up_down(id, the) {
            var state = the.innerText == '未上架' ? 1 : 0;
            $.post('__SELF__', {'id':id,'type':'up_down','state':state}, function (string) {
                if (string === 'SUCCESS') {
                    if (state) {
                        var notice = '已上架';
                    } else {
                        var notice = '未上架';
                    }
                    the.innerText = notice;
                } else {
                    alert('操作失败');
                }
            });
        }

    </script>
</block>