<extend name="Base:base" />
<block name="title">管理中心</block>
<block name="body">
    <body class="gray-bg">
    <div class="row  border-bottom white-bg dashboard-header">
        <div class="col-sm-12">
            <blockquote class="text-warning" style="font-size:14px">
                <h4 class="text-danger">欢迎登陆芝麻读书！想想今天还有什么事情没有做吧！</h4>
            </blockquote>

            <hr>
        </div>
    </div>
    </body>
</block>
<block name="others">
    <!--<script src="js/plugins/layer/layer.min.js"></script>
    <script src="js/content.min.js"></script>
    <script src="js/welcome.min.js"></script>-->
</block>
