<extend name="Base:base"/>
<block name="title">兴趣管理</block>
<block name="static">
    <style>
        .notice{
            color: #1AB394;
            font-weight: bold;
        }
        td,th{
            text-align: center;
        }
    </style>
</block>
<block name="body">
    <body class="gray-bg">
    <div class="wrapper wrapper-content animated fadeInRight">
        <div class="row">
            <div class="col-sm-12">
                <div class="ibox float-e-margins">
                    <div class="ibox-title">
                        <h5>兴趣列表</h5>
                        <div class="ibox-tools">
                            <a class="collapse-link" href="{:U('h_add')}"><span class="notice">添加兴趣</span></a>
                        </div>
                    </div>
                    <div class="ibox-content">

                        <table class="table table-hover">
                            <thead>
                            <tr>
                                <th>兴趣</th>
                                <th>操作</th>
                            </tr>
                            </thead>
                            <tbody>
                            <volist name="hobbyList" id="vo">
                                <tr>
                                    <td>{$vo.hobby}</td>
                                    <td class="btn_location">
                                        <button class="btn btn-success" type="button" onclick="location.href='__CONTROLLER__/h_update?id={$vo.id}';">修改</button>
                                    </td>
                                </tr>
                            </volist>

                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
    </body>
</block>
<block name="others">
    <script>
    </script>
</block>