<extend name="Base:base"/>
<block name="title">作者列表</block>
<block name="body">
    <body class="gray-bg">
    <div class="wrapper wrapper-content animated fadeInRight">
        <div class="row">
            <div class="col-sm-12">
                <div class="ibox float-e-margins">
                    <div class="ibox-title">
                        <h5>作者列表</h5>
                    </div>
                    <div class="ibox-content">

                        <table class="table table-hover">
                            <thead>
                            <tr>
                                <th>姓名</th>
                                <th>简介</th>
                                <th>操作</th>
                            </tr>
                            </thead>
                            <tbody>
                            <volist name="authorList" id="vo">
                                <tr>
                                    <td>{$vo.author}</td>
                                    <td title="{$vo.author_synopsis}">{$vo.author_synopsis|mb_substr=0,20,'utf-8'}</td>
                                    <td class="btn_location">
                                        <button class="btn btn-warning" type="button" onclick="delBtn('{$vo.id}',this)">删除</button>
                                        <button class="btn btn-success" type="button" onclick="location.href='__CONTROLLER__/a_update?id={$vo.id}';">修改</button>
                                    </td>
                                </tr>
                            </volist>

                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
    </body>
</block>
<block name="others">
    <script>
        function delBtn(id, the) {
            if (confirm('确认删除吗？')) {
                $.post('__SELF__', {'id':id}, function (string) {
                    if (string === 'SUCCESS') {
                        the.parentNode.parentNode.remove();
                    } else {
                        alert(string);
                    }
                });
            }
        }
    </script>
</block>