<extend name="Base:base" />
<block name="title">芝麻读书</block>
<block name="static">
	<link rel="stylesheet" type="text/css" href="{:C('CSS')}swiper.min.css"/>
	<script src="{:C('JS')}swiper.min.js" type="text/javascript" charset="utf-8"></script>
</block>
<block name="body">
	<body>
	<header class="index_head">
		<div class="swiper-container" style="height:100%;">
			<div class="swiper-wrapper">
				<!--轮播图部分-->
				<notempty name="bannerList">
					<volist name="bannerList" id="vo">
						<div class="swiper-slide"><a href="javascript:void(0);"><img src="{$vo.banner_file}" alt="" width="100%" height="100%"/></a></div>
					</volist>
					<else/>
					<div class="swiper-slide"><a href="#"><img src="{:C('IMG')}test_lb.png" alt="" width="100%" height="100%"/></a></div>
				</notempty>
			</div>
			<div class="swiper-pagination"></div>
		</div>
	</header>
	<!-- Initialize Swiper -->
	<script>
		var swiper = new Swiper('.swiper-container', {
			pagination: '.swiper-pagination',
			paginationClickable: true,
			autoplayDisableOnInteraction : false,
			autoplay: 3000,
			loop:true
		});
	</script>
	<article class="index_art">
		<!--搜索框-->
		<h4 class="color_zhu">听说这几本书很火，速来围观...<a href="{:U('Book/b_search')}" id="show_btn"></a></h4>
		<section class="novel_list">
			<ul>
				<!--列表-->
				<volist name="hotBookList" id="vo">
					<li class="novel_list_libottom">
						<a href="{:U('Book/b_detail',['b_id'=>$vo['id']])}">
							<div class="index_img">
								<img src="{$vo.book_banner}" class="index_img_cover"/>
								<switch name="vo['is_hot']">
									<case value="1"><img src="{:C('IMG')}hot.png" class="index_img_mark"/></case>
									<case value="2"><img src="{:C('IMG')}new.png" class="index_img_mark"/></case>
									<case value="3"><img src="{:C('IMG')}gratis.png" class="index_img_mark"/></case>
									<case value="4"><img src="{:C('IMG')}updating.png" class="index_img_mark"/></case>
								</switch>
							</div>
							<div class="index_mes">
								<h5 class="color_black">{$vo.book_name}</h5>
								<p>作者：<em>{$vo.author}</em></p>
								<p><em>{$vo.readed_number}人已读</em><span>{$vo.number_of_words}字</span></p>
							</div>
						</a>
					</li>
				</volist>
			</ul>
		</section>
	</article>
	<footer>
		<!--底部导航栏-->
		<ul class="novel_btn">
			<li class="novel_btn1"><a href="javascript:void(0);" class="color_zhu"><em class="novel_btn_true"></em>首页</a></li>
			<li class="novel_btn2"><a href="{:U('Book/library')}" class="color_hui"><em class="novel_btn_false"></em>书城</a></li>
			<li class="novel_btn3"><a href="{:U('BeautifulWords/beautifulwords')}" class="color_hui"><em class="novel_btn_false"></em>美文</a></li>
			<li class="novel_btn4"><a href="{:U('Book/bookshelf')}" class="color_hui"><em class="novel_btn_false"></em>书架</a></li>
			<li class="novel_btn5"><a href="{:U('User/me')}" class="color_hui"><em class="novel_btn_false"></em>我</a></li>
		</ul>
	</footer>
	</body>
</block>